<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Game type:</strong>
  <%= @league.game_type.name %>
</p>

<p>
  <strong>Season:</strong>
  <%= @league.season %>
</p>

<p>
  <strong>Number of players:</strong>
  <%= @league.number_of_players %>
</p>

<h3>Players in this League:</h3>
<% @players.each do |player| %>
   <p>
    <%= player.firstname %>
   </p>
<%end %>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
