<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Game type:</strong>
  <%= @league.game_type.name %>
</p>

<p>
  <strong>Season:</strong>
  <%= @league.season %>
</p>

<p>
  <strong>Number of players:</strong>
  <%= @league.number_of_players %>
</p>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
