<%= form_for(game) do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date_of_game %>
    <%= f.date_select :date_of_game %>
  </div>

  <div class="field">
    <%= f.label :league_id %>
    <%= f.collection_select :league_id, League.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :number_of_players %>
    <%= f.number_field :number_of_players %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
